#title{
     color: blue; 
    display: flex; 
    justify-content: center; 

 }  

 #tag{
     display: flex; 
     justify-content: center; 
     color: indianred; 
 } 

 body{
     background:peachpuff;
 }
  
 
